<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdzg.xzshop.mapper.GoodsSpuMapper">
  <resultMap id="BaseResultMap" type="com.cdzg.xzshop.domain.GoodsSpu">
    <!--@mbg.generated-->
    <!--@Table goods_spu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="spu_no" jdbcType="BIGINT" property="spuNo" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="ad_word" jdbcType="VARCHAR" property="adWord" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="fraction_price" jdbcType="DECIMAL" property="fractionPrice" />
    <result column="category_id_level2" jdbcType="BIGINT" property="categoryIdLevel2" />
    <result column="category_id_level1" jdbcType="BIGINT" property="categoryIdLevel1" />
    <result column="payment_method" jdbcType="TINYINT" property="paymentMethod" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="stock" jdbcType="BIGINT" property="stock" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="gmt_put_on_the_shelf" jdbcType="TIMESTAMP" property="gmtPutOnTheShelf" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_update" jdbcType="TIMESTAMP" property="gmtUpdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, spu_no, goods_name, ad_word, price, promotion_price, fraction_price, category_id_level2, 
    category_id_level1, payment_method, shop_id, `status`, stock, create_user, description, 
    gmt_put_on_the_shelf, gmt_create, gmt_update
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from goods_spu
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from goods_spu
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.cdzg.xzshop.domain.GoodsSpu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods_spu (spu_no, goods_name, ad_word, 
      price, promotion_price, fraction_price, 
      category_id_level2, category_id_level1, payment_method, 
      shop_id, `status`, stock, 
      create_user, description, gmt_put_on_the_shelf, 
      gmt_create, gmt_update)
    values (#{spuNo,jdbcType=BIGINT}, #{goodsName,jdbcType=VARCHAR}, #{adWord,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{promotionPrice,jdbcType=DECIMAL}, #{fractionPrice,jdbcType=DECIMAL}, 
      #{categoryIdLevel2,jdbcType=BIGINT}, #{categoryIdLevel1,jdbcType=BIGINT}, #{paymentMethod,jdbcType=TINYINT}, 
      #{shopId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{stock,jdbcType=BIGINT}, 
      #{createUser,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, #{gmtPutOnTheShelf,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.cdzg.xzshop.domain.GoodsSpu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spuNo != null">
        spu_no,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="adWord != null">
        ad_word,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="promotionPrice != null">
        promotion_price,
      </if>
      <if test="fractionPrice != null">
        fraction_price,
      </if>
      <if test="categoryIdLevel2 != null">
        category_id_level2,
      </if>
      <if test="categoryIdLevel1 != null">
        category_id_level1,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="gmtPutOnTheShelf != null">
        gmt_put_on_the_shelf,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spuNo != null">
        #{spuNo,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="adWord != null">
        #{adWord,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="fractionPrice != null">
        #{fractionPrice,jdbcType=DECIMAL},
      </if>
      <if test="categoryIdLevel2 != null">
        #{categoryIdLevel2,jdbcType=BIGINT},
      </if>
      <if test="categoryIdLevel1 != null">
        #{categoryIdLevel1,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="gmtPutOnTheShelf != null">
        #{gmtPutOnTheShelf,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdzg.xzshop.domain.GoodsSpu">
    <!--@mbg.generated-->
    update goods_spu
    <set>
      <if test="spuNo != null">
        spu_no = #{spuNo,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="adWord != null">
        ad_word = #{adWord,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="fractionPrice != null">
        fraction_price = #{fractionPrice,jdbcType=DECIMAL},
      </if>
      <if test="categoryIdLevel2 != null">
        category_id_level2 = #{categoryIdLevel2,jdbcType=BIGINT},
      </if>
      <if test="categoryIdLevel1 != null">
        category_id_level1 = #{categoryIdLevel1,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="gmtPutOnTheShelf != null">
        gmt_put_on_the_shelf = #{gmtPutOnTheShelf,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdzg.xzshop.domain.GoodsSpu">
    <!--@mbg.generated-->
    update goods_spu
    set spu_no = #{spuNo,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      ad_word = #{adWord,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      fraction_price = #{fractionPrice,jdbcType=DECIMAL},
      category_id_level2 = #{categoryIdLevel2,jdbcType=BIGINT},
      category_id_level1 = #{categoryIdLevel1,jdbcType=BIGINT},
      payment_method = #{paymentMethod,jdbcType=TINYINT},
      shop_id = #{shopId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT},
      stock = #{stock,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      gmt_put_on_the_shelf = #{gmtPutOnTheShelf,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update goods_spu
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="spu_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.spuNo,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="goods_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.goodsName,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="ad_word = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.adWord,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="promotion_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.promotionPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="fraction_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.fractionPrice,jdbcType=DECIMAL}
        </foreach>
      </trim>
      <trim prefix="category_id_level2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.categoryIdLevel2,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="category_id_level1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.categoryIdLevel1,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="payment_method = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.paymentMethod,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="shop_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.shopId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=TINYINT}
        </foreach>
      </trim>
      <trim prefix="stock = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.stock,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="create_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.createUser,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=LONGVARCHAR}
        </foreach>
      </trim>
      <trim prefix="gmt_put_on_the_shelf = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.gmtPutOnTheShelf,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="gmt_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.gmtCreate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
      <trim prefix="gmt_update = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.gmtUpdate,jdbcType=TIMESTAMP}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <!--@mbg.generated-->
    update goods_spu
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="spu_no = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.spuNo != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.spuNo,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="goods_name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.goodsName != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.goodsName,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="ad_word = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.adWord != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.adWord,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.price != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.price,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="promotion_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.promotionPrice != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.promotionPrice,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="fraction_price = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.fractionPrice != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.fractionPrice,jdbcType=DECIMAL}
          </if>
        </foreach>
      </trim>
      <trim prefix="category_id_level2 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.categoryIdLevel2 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.categoryIdLevel2,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="category_id_level1 = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.categoryIdLevel1 != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.categoryIdLevel1,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="payment_method = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.paymentMethod != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.paymentMethod,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="shop_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.shopId != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.shopId,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="`status` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.status != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.status,jdbcType=TINYINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="stock = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.stock != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.stock,jdbcType=BIGINT}
          </if>
        </foreach>
      </trim>
      <trim prefix="create_user = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.createUser != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.createUser,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.description != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.description,jdbcType=LONGVARCHAR}
          </if>
        </foreach>
      </trim>
      <trim prefix="gmt_put_on_the_shelf = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.gmtPutOnTheShelf != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.gmtPutOnTheShelf,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="gmt_create = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.gmtCreate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.gmtCreate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
      <trim prefix="gmt_update = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.gmtUpdate != null">
            when id = #{item.id,jdbcType=BIGINT} then #{item.gmtUpdate,jdbcType=TIMESTAMP}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods_spu
    (spu_no, goods_name, ad_word, price, promotion_price, fraction_price, category_id_level2, 
      category_id_level1, payment_method, shop_id, `status`, stock, create_user, description, 
      gmt_put_on_the_shelf, gmt_create, gmt_update)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.spuNo,jdbcType=BIGINT}, #{item.goodsName,jdbcType=VARCHAR}, #{item.adWord,jdbcType=VARCHAR}, 
        #{item.price,jdbcType=DECIMAL}, #{item.promotionPrice,jdbcType=DECIMAL}, #{item.fractionPrice,jdbcType=DECIMAL}, 
        #{item.categoryIdLevel2,jdbcType=BIGINT}, #{item.categoryIdLevel1,jdbcType=BIGINT}, 
        #{item.paymentMethod,jdbcType=TINYINT}, #{item.shopId,jdbcType=BIGINT}, #{item.status,jdbcType=TINYINT}, 
        #{item.stock,jdbcType=BIGINT}, #{item.createUser,jdbcType=VARCHAR}, #{item.description,jdbcType=LONGVARCHAR}, 
        #{item.gmtPutOnTheShelf,jdbcType=TIMESTAMP}, #{item.gmtCreate,jdbcType=TIMESTAMP}, 
        #{item.gmtUpdate,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.cdzg.xzshop.domain.GoodsSpu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      spu_no,
      goods_name,
      ad_word,
      price,
      promotion_price,
      fraction_price,
      category_id_level2,
      category_id_level1,
      payment_method,
      shop_id,
      `status`,
      stock,
      create_user,
      description,
      gmt_put_on_the_shelf,
      gmt_create,
      gmt_update,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{spuNo,jdbcType=BIGINT},
      #{goodsName,jdbcType=VARCHAR},
      #{adWord,jdbcType=VARCHAR},
      #{price,jdbcType=DECIMAL},
      #{promotionPrice,jdbcType=DECIMAL},
      #{fractionPrice,jdbcType=DECIMAL},
      #{categoryIdLevel2,jdbcType=BIGINT},
      #{categoryIdLevel1,jdbcType=BIGINT},
      #{paymentMethod,jdbcType=TINYINT},
      #{shopId,jdbcType=BIGINT},
      #{status,jdbcType=TINYINT},
      #{stock,jdbcType=BIGINT},
      #{createUser,jdbcType=VARCHAR},
      #{description,jdbcType=LONGVARCHAR},
      #{gmtPutOnTheShelf,jdbcType=TIMESTAMP},
      #{gmtCreate,jdbcType=TIMESTAMP},
      #{gmtUpdate,jdbcType=TIMESTAMP},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      spu_no = #{spuNo,jdbcType=BIGINT},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      ad_word = #{adWord,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      fraction_price = #{fractionPrice,jdbcType=DECIMAL},
      category_id_level2 = #{categoryIdLevel2,jdbcType=BIGINT},
      category_id_level1 = #{categoryIdLevel1,jdbcType=BIGINT},
      payment_method = #{paymentMethod,jdbcType=TINYINT},
      shop_id = #{shopId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT},
      stock = #{stock,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      description = #{description,jdbcType=LONGVARCHAR},
      gmt_put_on_the_shelf = #{gmtPutOnTheShelf,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.cdzg.xzshop.domain.GoodsSpu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into goods_spu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="spuNo != null">
        spu_no,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="adWord != null">
        ad_word,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="promotionPrice != null">
        promotion_price,
      </if>
      <if test="fractionPrice != null">
        fraction_price,
      </if>
      <if test="categoryIdLevel2 != null">
        category_id_level2,
      </if>
      <if test="categoryIdLevel1 != null">
        category_id_level1,
      </if>
      <if test="paymentMethod != null">
        payment_method,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="gmtPutOnTheShelf != null">
        gmt_put_on_the_shelf,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtUpdate != null">
        gmt_update,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="spuNo != null">
        #{spuNo,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="adWord != null">
        #{adWord,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="fractionPrice != null">
        #{fractionPrice,jdbcType=DECIMAL},
      </if>
      <if test="categoryIdLevel2 != null">
        #{categoryIdLevel2,jdbcType=BIGINT},
      </if>
      <if test="categoryIdLevel1 != null">
        #{categoryIdLevel1,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null">
        #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="gmtPutOnTheShelf != null">
        #{gmtPutOnTheShelf,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="spuNo != null">
        spu_no = #{spuNo,jdbcType=BIGINT},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="adWord != null">
        ad_word = #{adWord,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="promotionPrice != null">
        promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="fractionPrice != null">
        fraction_price = #{fractionPrice,jdbcType=DECIMAL},
      </if>
      <if test="categoryIdLevel2 != null">
        category_id_level2 = #{categoryIdLevel2,jdbcType=BIGINT},
      </if>
      <if test="categoryIdLevel1 != null">
        category_id_level1 = #{categoryIdLevel1,jdbcType=BIGINT},
      </if>
      <if test="paymentMethod != null">
        payment_method = #{paymentMethod,jdbcType=TINYINT},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="gmtPutOnTheShelf != null">
        gmt_put_on_the_shelf = #{gmtPutOnTheShelf,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null">
        gmt_update = #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>