<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdzg.xzshop.mapper.OrderMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <sql id="Base_Column_List">
        id,
        customer_id,
        order_type,
        goods_price,
        freight,
        total_money,
        pay_money,
        order_remarks,
        shop_id,
        create_time,
        order_status,
        pay_method,
        pay_time,
        deliver_time,
        deal_time,
        logistics_company_code,
        logistics_number,
        logistics_remarks,
        province,
        city,
        area,
        address,
        consignee_name,
        consignee_phone,
        update_time,
        update_by,
        deleted,
        customer_account,
        sys_cancel_config,
        sys_sure_config
    </sql>
    <resultMap type="com.cdzg.xzshop.domain.Order" id="orderMap">
        <result property="id" column="id"/>
        <result property="customerId" column="customer_id"/>
        <result property="orderType" column="order_type"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="freight" column="freight"/>
        <result property="totalMoney" column="total_money"/>
        <result property="payMoney" column="pay_money"/>
        <result property="orderRemarks" column="order_remarks"/>
        <result property="shopId" column="shop_id"/>
        <result property="createTime" column="create_time"/>
        <result property="orderStatus" column="order_status"/>
        <result property="payMethod" column="pay_method"/>
        <result property="payTime" column="pay_time"/>
        <result property="deliverTime" column="deliver_time"/>
        <result property="dealTime" column="deal_time"/>
        <result property="logisticsCompanyCode" column="logistics_company_code"/>
        <result property="logisticsNumber" column="logistics_number"/>
        <result property="logisticsRemarks" column="logistics_remarks"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="address" column="address"/>
        <result property="consigneeName" column="consignee_name"/>
        <result property="consigneePhone" column="consignee_phone"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="deleted" column="deleted"/>
        <result property="customerAccount" column="customer_account"/>
        <result property="sysCancelConfig" column="sys_cancel_config"/>
        <result property="sysSureConfig" column="sys_sure_config"/>
    </resultMap>

<!--auto generated by MybatisCodeHelper on 2021-05-21-->
    <select id="findById" resultMap="orderMap">
        select
        <include refid="Base_Column_List"/>
        from `order`
        where id=#{id} for update
    </select>

<!--auto generated by MybatisCodeHelper on 2021-05-25-->
    <select id="findShopIdById" resultType="java.lang.String">
        select shop_id
        from order
        where id=#{id}
    </select>
    <select id="listForApp" resultType="com.cdzg.xzshop.vo.order.response.UserOrderListRespVO">
        SELECT
            t1.id,
            t1.order_type orderType,
            t1.goods_price goodsPrice,
            t1.freight,
            t1.total_money totalMoney,
            t1.pay_money payMoney,
            t1.shop_id shopId,
            t2.shop_name shopName,
            t1.create_time createTime,
            t1.order_status orderStatus
        FROM
            `order` t1
            LEFT JOIN shop_info t2 ON t1.shop_id = t2.id
        WHERE
            t1.deleted = 0
        <if test="param != null and param.customerId != null">
            AND t1.customer_id = #{param.customerId}
        </if>
        <if test="param != null and param.orderStatus != null and param.orderStatus > 0">
            AND t1.order_status = #{param.orderStatus}
        </if>
        ORDER BY create_time DESC


    </select>
</mapper>