<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdzg.xzshop.mapper.SearchHistoryMapper">
  <resultMap id="BaseResultMap" type="com.cdzg.xzshop.domain.SearchHistory">
    <!--@mbg.generated-->
    <!--@Table search_history-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="key_word" jdbcType="VARCHAR" property="keyWord" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="count" jdbcType="BIGINT" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, key_word, user_id, `count`
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update search_history
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="key_word = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.keyWord,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="user_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.userId,jdbcType=BIGINT}
        </foreach>
      </trim>
      <trim prefix="`count` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.count,jdbcType=BIGINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into search_history
    (key_word, user_id, `count`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.keyWord,jdbcType=VARCHAR}, #{item.userId,jdbcType=BIGINT}, #{item.count,jdbcType=BIGINT}
        )
    </foreach>
  </insert>
  <insert id="insertOrUpdate" keyColumn="id" keyProperty="id" parameterType="com.cdzg.xzshop.domain.SearchHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into search_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      key_word,
      user_id,
      `count`,
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      #{keyWord,jdbcType=VARCHAR},
      #{userId,jdbcType=BIGINT},
      #{count,jdbcType=BIGINT},
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      key_word = #{keyWord,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      `count` = #{count,jdbcType=BIGINT},
    </trim>
  </insert>
  <insert id="insertOrUpdateSelective" keyColumn="id" keyProperty="id" parameterType="com.cdzg.xzshop.domain.SearchHistory" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into search_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="keyWord != null and keyWord != ''">
        key_word,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="count != null">
        `count`,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="keyWord != null and keyWord != ''">
        #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="count != null">
        #{count,jdbcType=BIGINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="keyWord != null and keyWord != ''">
        key_word = #{keyWord,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

<!--auto generated by MybatisCodeHelper on 2021-05-19-->
  <select id="findOneByKeyWord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from search_history
        where key_word=#{keyWord,jdbcType=VARCHAR}
    </select>

<!--auto generated by MybatisCodeHelper on 2021-05-19-->
  <select id="findOneByKeyWordAndUserId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from search_history
    <where>
      <if test="keyWord != null and keyWord != ''">
        and key_word=#{keyWord,jdbcType=VARCHAR}
      </if>
      <if test="userId != null">
        and user_id=#{userId,jdbcType=BIGINT}
      </if>
    </where>
  </select>

<!--auto generated by MybatisCodeHelper on 2021-05-19-->
  <select id="findKeyWordByUserIdOrderByCountDesc" resultType="java.lang.String">
    select key_word
    from search_history
    where user_id=#{userId,jdbcType=BIGINT} order by `count` desc
  </select>

<!--auto generated by MybatisCodeHelper on 2021-05-26-->
  <delete id="deleteByKeyWordAndUserId">
        delete from search_history
        where key_word=#{keyWord,jdbcType=VARCHAR} and user_id=#{userId,jdbcType=BIGINT}
    </delete>
</mapper>